@ViewBag.Ip
<div class="main-acp-container">
    <div class="main-acp-nav">
        <div class="main-acp-nav-title">Administrator<br>Control Panel</div>
        <ul class="main-acp-nav-container">
            <li><div id="ManageCategories" class="main-acp-button"><i class="far fa-list-alt main-acp-nav-icons"></i> Manage categories</div></li>
            <li><div id="ManageArticles" class="main-acp-button"><i class="fas fa-archive main-acp-nav-icons"></i> Manage articles</div></li>
            <li><div id="ManageSettings" class="main-acp-button"><i class="fas fa-cogs main-acp-nav-icons"></i> Manage settings</div></li>
            <li><div id="ManageUsers" class="main-acp-button"><i class="fas fa-users main-acp-nav-icons"></i> Manage users</div></li>
        </ul>
    </div>
    <div class="main-acp-content">
        <div id="main-acp-display"></div>
        <div id="subcategory-display"></div>
        <div id="image-category"></div>
    </div>
</div>